@import "tailwindcss";

@layer base {
    .custom-height {
        min-height: calc(100vh - 10rem);
        height: 100%;
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .custom-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #ccc transparent; /* thumb color, track color */
}

/* WebKit (Chrome, Safari, Edge) */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* overall scrollbar width */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* or use a subtle color like #f0f0f0 */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #aaa; /* scroll thumb */
  border-radius: 4px;
  border: 2px solid transparent; /* for inner spacing */
  background-clip: content-box;
}

.test {
    border: 2px solid red;
  }
@layer utilities {
  @keyframes bounce {
    0%, 80%, 100% { transform: scale(0); }
    40% { transform: scale(1); }
  }

  .animate-bounce {
    animation: bounce 1.2s infinite ease-in-out;
  }
}

}